---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../lib/utils";
import Tags from "./tags.astro";

interface Props {
  article: CollectionEntry<'blog'>,
}

const { article } = Astro.props;
---

<div class="max-w-4xl mx-auto p-6">
  <article class="flex flex-col sm:flex-row gap-6 border shadow-md rounded-lg">
    <a href={`/blog/${article.slug}`} class="flex flex-col sm:flex-row gap-4">
      <img
        src={article.data.image}
        alt={article.data.heroAlt}
        class="sm:w-[300px] sm:h-[180px] object-cover rounded-lg shadow-md transition-transform duration-300 hover:scale-105"
        loading="lazy"
      />
      <div class="flex flex-col p-4">
        <time datetime={article.data.pubDate.toISOString()} class="text-sm">
          {formatDate(article.data.pubDate)}
        </time>
        <h2 class="mt-2 text-xl font-bold">
          <a href={`/blog/${article.slug}`} class="hover:underline">{article.data.title}</a>
        </h2>
        <p class="text-sm mt-2">
          {article.data.description}
        </p>
        <div class="mt-3">
          <Tags tags={article.data.tags} />
        </div>
      </div>
    </a>
  </article>
</div>
